.forecast {
    margin: 10px;

    div {
        p {
            margin: 0;
            font-size: 0.75em;
        }
    }

    article {
        background-color: grey;
        padding: 10px;
        border-radius: 5px;
    }
}